[Unit]
Description=Hollerback
Documentation=https://github.com/theronconrey/hollerback
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/home/theron/Projects/Personal/hollerback/.venv/bin/hollerback start
Restart=on-failure
RestartSec=5s
StandardOutput=journal
StandardError=journal

NoNewPrivileges=true

[Install]
WantedBy=default.target
